html,
body {
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}
canvas {
    display: block;
    margin-left: auto;
    margin-right: auto
}
p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #2c2c3b;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

/* unvisited link */
a:link {
    color: #2c5782;
}

/* visited link */
a:visited {
    color: #3c3872;
}

/* mouse over link */
a:hover {
    color: #4177a3;
}

/* selected link */
a:active {
    color: #4177a3;
}